@charset "utf-8";

/*-----------------반응형 디자인 설정하기-------------------------*/
@media only screen and (max-width:1170px) {
    .row{padding:0 10px;}
    .topmenu .login {position:absolute; top:0; right:10px; color:#000;}
}
@media only screen and (max-width:992px){
    .logoNav {position:relative; height:auto;}
    .logoNav h1 {color:#ffa23d; font-size:26.25px; font-weight:bold; 
        padding:24.875px 0 0 0; text-align:center;}
    .logoNav .nav {position:static; top:0; right:0; text-align:center;}
}
@media only screen and (max-width:841px){
    .topmenu .login{display:none;}
    .logoNav h1 {color:#ffa23d; font-size:26.25px; font-weight:bold; 
        padding:30px 0; text-align:center;}
    .logoNav .open_nav{display:block; position:absolute; top:0; right:10px; font-size:31px; padding:14px 0; color:#ffa23d;}
    .logoNav .close_nav{display:none; position:absolute; top:0; right:10px; font-size:31px; padding:14px 0; color:#ffa23d;}
    .logoNav .nav{display:none;}
    .topmenu .search_box{position:absolute; right:10px; top:0;}
}